* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #333;
    color: white;
}

.cardConteiner::-webkit-scrollbar{
    display: none;
}

#manuBtn {
    display: none;
}

#sidebar {
    right: -250px
}
#sidebar.active {
    right: 0
}

Link:hover{
    color: red;
}

.wrapper{
    max-width: 100vw;
    background-color: skyblue;
    padding: 2rem 5rem;
}
.content{
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}



@media (width < 800px) {
    #navbar li:has(a, .btn) {
        display: none;
    }

    #manuBtn {
        display: flex;
    }
}


::-webkit-scrollbar{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(116, 115, 115);
    border-radius: 16px;
}